
$text1: #292D33;
$text2: #51555A;
$text3: #797C80;
$text4: #BFBFBF;
$accent: #1DC4B0;
$accentDark: #059E8C;
$accentRed: #E31351;
$background1: linear-gradient(90deg, #E8FAFA 0%, #DCF2E8 100%);
$background2: #F5FBFC;
$background3: #EEF3F7;
$border: #CFDFE6;
$white: #FFFFFF;
$white2: #F7F7F7;
$popupBacground: #192224;


.h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
}
.h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}
.h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}
.h5 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.h6 {
    font-weight: bold;
    line-height: 20px;
}
.subtitle { 
    font-size: 26px;
    line-height: 36px;
    font-weight: normal;
}
.text2 {
    font-size: 16px;
    line-height: 24px;
}
.table-text {
    line-height: 24px;
}
.mini-text {
    font-size: 14px;
    line-height: 20px;
}
.calendar {
    font-size: 14px;
    line-height: 24px;
}