html,
body {
	height: 100%;
	font-family: 'Manrope';
    font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 28px;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	padding-left: 300px;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1142px;
  margin: 0 auto;
  padding: 0 15px;
}
.page-header{
	background: transparent;
}
.page-header--green{
	background: $background1;
	padding: 57px 0 24px;
	.switch{
		margin-top: 46px;
	}
	.breadcrumbs{
		margin-top: 0;
	}
}
.page-header--work{
	.switch{
		margin: 46px 0 32px;
	}
}

.breadcrumbs {
	margin: 57px 0px 5px 0px;
	display: flex;
	&__item {
		display: flex;
		align-items: center;
		color: $text3;
		&:not(:first-child) {
			margin-left: 8px;
		}
		&:last-child {
			color: $text4; 
			span {
				display: none;
			}
		}
		span {
			margin: 2px 0px 0px 8px;
			font-size: 14px;
		}
		&:hover {
			color: $accent;
			&:last-child {
				color: $text4;
			}
		}
	}

}

.content--service{
	background: $background1;
}
.switch{
	display: inline-block;
	padding: 4px;
	box-shadow: inset 0px 0px 3px rgba(13, 61, 46, 0.4);
	border-radius: 20px;
	background: $background2;
	height: 50%;
	&__list{
		display: flex;
	}
	&__item{
		cursor: pointer;
		background: transparent;
		padding: 7px 20px 9px 20px;
		font-size: 16px;
		line-height: 24px;
		font-weight: bold;
		color: $text3;
		&.active{
			background: $accent;
			color: $white;
			border-radius: 16px;
			&:hover{
				color: $white;
			}
		}
		&:hover{
			color: $accent;
		}
		span{
			&:not(:first-child){
				display: none;
			}
		}
	}
}

.card{
	&__skills {
		color: $text1;
		padding: 7px 15px 9px 15px;
		background: $background3;
		border-radius: 4px;
		&:hover{
			color: $accent;
		}
		&.active{
			background: $accent;
			color: $white;
		}
	}

	&__service{
		position: relative;
		cursor: pointer;
		border-radius: 8px;
		background: $background1;
		padding: 28px 32px;
		width: 344px;
		height: 240px;
		&:hover{
			transition: all .8s;
			background: $accent;
			.card{
				&__service-title{
					color: $white;
				}
				&__service-text{
					color: $white;
				}
				&__service-more{
					color: $white;
				}
			}
		}
	}
	&__service-title{
		color: $text1;
		padding-bottom: 10px;
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
	}
	&__service-text{
		width: 280px;
		color: $text2;
		font-size: 16px;
		line-height: 24px;
	}
	&__service-more{
		display: flex;
		align-items: center;
		color: transparent;
		position: absolute;
		bottom: 25px;
		right: 32px;
		.icon{
			margin-left: 8px;
		}
	}

	&__animals{
		width: 248px;
		cursor: pointer;
		&:hover{
			.card{
				&__animals-title{
					color: $accent;
				}
				&__animals-date{
					color: $accent;
				}
				&__hover{
					transition: all .5;
					opacity: 1;
				}
			}
		}
	}
	&__animals-img{
		position: relative;
		width: 100%;
		margin-bottom: 16px;
		img{
			width: 100%;
		}
	}
	&__animals-title{
		padding-bottom: 12px;
	}
	&__animals-date{
		
	}



	&__specialist{
		cursor: pointer;
		width: 344px;
		transition: all .5s;
		&:hover{
			.card{
				&__specialist-title{
					color: $accent;
				}
				&__specialist-text{
					color: $accent;
				}
				&__hover{
					transition: all .5;
					opacity: 1;
				}
			}
		}
	}
	&__specialist-img{
		position: relative;
		overflow: hidden;
		display: flex;
		align-items: center;
		width: fit-content;
		height: 400px;
		margin-bottom: 16px;
		border-radius: 8px;
		img{
			height: 100%;
			object-fit: cover;
			display: inline-block;
		}
	}
	&__specialist-title{
		color: $text1;
		width: 207px;
		margin-bottom: 6px;
	}
	&__specialist-text{
		color: $text2;
	}
	&__hover{
		display: flex;
		align-items: flex-end;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background: rgba(#192224, .2);
	}
	&__trick{
		width: 100%;
		border-radius: 8px;
		background: $background1;
		padding: 17px 24px;
		font-size: 14px;
		line-height: 16px;
		color: $text1;
		display: flex;
		justify-content: space-between;
	}
	&__trick-title{
			display: inline-block;
			font-weight: 700;
			max-width: 90px;
	}
	&__trick-date{
		display: inline-block;
		position: relative;
		padding: 0 6px;
		font-weight: 400;
		&::after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			height: 100%;
			width: 1px;
			background: $border;
		}
	}

	&__clinic{
		display: flex;
		width: 536px;
		height: 264px;
		border-radius: 8px;
		box-shadow: 0px 4px 20px rgba(26, 57, 63, 0.1);
		cursor: pointer;
		&:hover{
			.card{
				&__clinic-title,
				&__clinic-adress,
				&__clinic-more{
					color: $accent;
				}
				&__hover{
					transition: all .5;
					opacity: 1;
					border-radius: 8px 0 0 8px;
				}
			}
		}

	}
	&__clinic-img{
		position: relative;
		width: 264px;
		border-radius: 8px 0 0 8px;
		img{
			border-radius: 8px 0 0 8px;
			width: 100%;
			height: 100%;
		}
	}
	&__clinic-content{
		padding: 28px 24px;
		border-radius: 0 8px 8px 0;
		position: relative;
	}
	&__clinic-title{
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: $text1;
		margin-bottom: 10px;
	}
	&__clinic-adress{
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: $text3;
		display: flex;
		align-items: center;
		.icon{
			margin-right: 6px;
			font-size: 20px;
		}
	}
	&__clinic-more{
		position: absolute;
		bottom: 25px;
		right: 33px;
		color: transparent;
		display: flex;
		align-items: center;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		.icon{
			margin: 4px 0px 0px 8px;
		}
	}
	//service
	&__price{
		padding: 35px 56px;
		background: #000;
		background: $background1;
		box-shadow: inset 0px 0px 10px rgba(49, 53, 54, 0.05);
		border-radius: 8px;
		width: 536px;
		height: auto;
	}
	&__price-header{
		position: relative;
		margin-bottom: 12px;
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
			background: $border;
		}
	}
	&__price-title{
		font-size: 30px;
		line-height: 35px;
		font-weight: 700;
		color: $text1;
		padding-bottom: 5px;
	}
	&__price-info{
		color: $text2;
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 19px;
	}
	&__price-subtitle{
		font-size: 17px;
		line-height: 24px;
		font-weight: 700;
		color: $text1;
		padding-bottom: 12px;
	}
	&__price-list{
		margin-bottom: 20px;
	}
	&__price-item{
		display: flex;
		justify-content: space-between;
		font-size: 17px;
		line-height: 24px;
		color: $text1;
		&:not(:last-child){
			padding-bottom: 12px;
		}
	}
	&__price-name{
		width: 344px;
	}

	//Отзывы
	&__review{
		width: 344px;
		height: 288px;
		padding: 27px 32px 41px;
		background: $white;
		color: $text1;
		box-shadow: 0px 4px 20px rgba(26, 57, 63, 0.1);
		border-radius: 16px;
	}
	&__review-title{
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		padding-bottom: 16px;
	}
	&__review-text{
		font-size: 17px;
		line-height: 28px;
		margin-bottom: 18px;
		height: 140px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__review-footer{
		display: flex;
		justify-content: space-between;
	}
	&__review-date{
		font-size: 14px;
		line-height: 20px;
		color: $text3;
	}
	&__review-more{
		cursor: pointer;
		display: flex;
		align-items: center;
		color: $accent;
		font-size: 14px;
		line-height: 24px;
		font-weight: 700;
		.icon{
			margin-left: 8px;
			margin-top: 4px;
		}
	}
}

.searchBlock{
	width: 100%;
	background: $background1;
	padding: 48px 56px;
	height: 144px;
	border-radius: 8px;
	&__body{
		display: flex;
		width: 100%;
		height: 48px;
	}
	&__input{
		flex: 1 0 auto;
		background: $white;
		border: 2px solid $accent;
		border-radius: 16px 0 0 16px;
		height: 100%;
		padding: 11px 20px 13px;
		outline: none;
		&::placeholder{
			color: $text4;
			font-size: 16px;
			line-height: 24px;
		}
	}
	.btn-search{
		border-radius: 0 16px 16px 0;
	}
}

// select

.select{
	width: 100%;
	color: $text1;
	position: relative;
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 4px;
		background: $white;
		border: 1px solid $border;
		padding: 8px 20px 12px 16px;
		cursor: pointer;
	}
	&__body{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		background: $white;
		border: 1px solid $border;
		border-top: 0;
		width: 100%;
		border-radius:0 0 4px 4px;
	}
	&-item{
		padding: 8px 20px 12px 16px;
		cursor: pointer;
		&:hover{
			background: $background1;
		}
	}
	&.open{
		transition: all .5s;
		.select__body{
			display: block;
		}
		.icon{
			transform: rotateX(180deg);
		}
	}
}
/*Чек бокс*/
.checkBox{
	box-sizing: content-box;
}

.checkBox input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
	position: absolute;
	left: -99999px;
}

.checkBox input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
	display: inline-block;
	position: relative;
	padding-left: 28px;
	line-height: 20px;
	cursor: pointer;
}

.checkBox input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 4px;
	width: 16px;
	height: 16px;
	border: 1px solid $border;
	background-color: $white;
}

.checkBox input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
	content: "";
	position: absolute;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.checkBox input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
	left: 3px;
	top:8px;
	width: 10px;
	height: 5px;
	border-radius: 1px;
	border-left: 2px solid $text1;
	border-bottom: 2px solid $text1;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkBox input[type="checkbox"]:not(:checked)+label:after {
	opacity: 0;
}

.checkBox input[type="checkbox"]:checked+label:after {
	opacity: 1;
}