.header {
    display: flex;
    border-bottom: 1px solid $border;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    background: $white;
}

.logo {
    width: 300px;
    height: 96px;
    padding: 16px 45px 24px 37px;
    background: $background1;
    &__img {
        margin: auto;
    }
}
.search {
    padding: 33px 41px;
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    .icon-search {
        font-size: 30px;
        color: $text4;
        margin-right: 10px;
    }
    &__input {
        border: none;
        width: 100%;
        outline: none;
        &::placeholder {
            color: $text4;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.address {
    display: flex;
    justify-content: space-between;
    width: 494px;
    background: $background2;
    padding: 18px 43px;
    border: 1px solid $border;
    border-top: none;
    border-bottom: none;
    font-size: 14px;
    line-height: 20px;
    &__title  {
        font-weight: bold;
    }
}
.phone {
    padding: 24px 50px 24px 42px;
    padding-right: auto;
    background: $background2;
    height: 96px;
    &__number {
        color: $text1;
    }
    &__button {
        color: $accentRed;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
    }
}

.content {
	padding-top: 97px;
}
.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 97px;
	width: 299px;
    display: flex;
	flex-direction: column;
	min-height: 100%;
    border-right: 1px solid $border;
    &__footer {
        flex: 0 0 auto;
        background: $background2;
        border-top: 1px solid $border;
        padding: 51px 40px;
    }
    &__footer-title {
        color: $text1;
        font-weight: bold;
        font-size: 20px;
        line-height: 16px;
        margin-bottom: 7px;
    }
    &__footer-description {
        color: $text1;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 25px;
    }
}

.menu {
    flex: 1 0 auto;
    padding: 52px 0px 0px 56px;
    &__item {
        color: $text2;
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        &.open {
            color: $accent;
            .menu__list--second{
                display: block;
            }
        }
    }
    &__link {
        display: flex;
        span {
            font-size: 22px;
            margin-left: 8px;
        }
    }
    &__list--second{
        display: none;
        margin-top: 20px;
    }
    &__item--second{
        color: $text2;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        font-weight: normal;
    }
}

.footer {
    padding: 32px 0px 27px;
    background: $background3;
    padding-left: 300px;
    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 38px;
        margin-bottom: 16px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background: $border;
        }
    }
    &__instagram {
        width: 271px;
    }
    &__instagram-title {
        color: $text1;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
    &__text {
        width: 728px;
        color: $text2;
    }
    &__copyright {
        display: flex;
        justify-content: space-between;
    }
    &__copyright-info {
        color: $text3;
    }
    &__copyright-link {
        color: $accentDark;
    }
}

.desctop {
    background: $background1;
    position: relative;
    height: 656px;
    &__content {
        max-width: 712px;
    }
    &__title {
        padding-top: 113px;
        margin-bottom: 33px;
    }
    &__list {
        margin-bottom: 174px;
    }
    &__item {
        padding-left: 16px;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: calc(50% - 3px);
            width: 6px;
            height: 6px;
            background: $accent;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.popular{
    background: $white;
    padding-top: 162px;
    padding-bottom: 218px;
    &__header{
        display: flex;
        align-items: flex-end;
        padding-bottom: 38px;
    }
    &__title{
        width: 489px;
    }
    .btn-contour{
        margin-left: auto;
    }
    .btn{
        max-height: 48px;
    }
    .btn-secondary{
        margin-left: 20px;
    }
    &__slider{ 
        padding: 24px 0;
    }
    &__slider-item{
        background: $background1;
        border-radius: 8px;
        padding: 28px 32px;
        height: 240px;
    }
    &__slider-title{
        padding-bottom: 10px;
    }
    .slick-arrow{
    }
}
// дефолтные настройки стрелок
.slick,
.slick--second{
    background: transparent;
    margin: 0 auto;
    &-slide {
        margin: 0 20px;
    }
      
    &-list {
        margin-left: -20px;
        margin-right: -20px;
    }
    &-arrow{
        position: absolute;
        top: 0;
        z-index: 2; // стрелки сверху картинок
        width: 40px; // ширина стрелки
        height: 100%;
        border: none;
        background: transparent;
        outline: none;
        font-size: 20px;
        color: $text1;
        cursor: pointer;
        &.slick-prev{
            left: -40px;
        }
        &.slick-next{
            right: -40px;
        }
        &:hover{
            .icon{
                color: $accent;
            }
        }
    }
}
// дефолтные настройки стрелок (конец)

.specialists{
    background: $white;
    padding-bottom: 136px;
    &__header{
        display: flex;
        padding-bottom: 62px;
        align-items: flex-end;
    }
    &__title{
        width: 701px;
    }
    .btn{
        max-height: 48px;
        margin-left: auto;
    }
    &__slider{ 
        padding: 48px 0;
    }
    &__slider-img{
        border-radius: 8px;
        width: 344px;
        height: 400px;
        margin-bottom: 16px;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
    &__slider-title{
        width: 207px;
    }
}
.stories{
    position: relative;
    // padding-bottom: 224px;
    background: $background3;
    &__header{
        display: flex;
        align-items: flex-end;
        padding-top: 130px;
        padding-bottom: 62px;
    }
    &__title{
        width: 785px;
    }
    .btn{
        max-height: 48px;
        margin-left: auto;
    }
    &__slider{
        padding: 32px 0;
    }
    &__footer{
        display: flex;
    }
    &__footer-img{
        display: inline-block;
        margin: 0 auto;
        height: 230px;
        img{
            height: 100%;
            object-fit: cover;
        }
    }

}

.blog{
    background: $white;
    padding-bottom: 64px;
    &__header{
        display: flex;
        align-items: flex-end;
        padding-top: 154px;
        padding-bottom: 62px;
    }
    &__title{
        width: 730px;
        color: $text1;
    }
    .btn{
        margin-left: auto;
        max-height: 48px;
    }
    &__content{
        display: flex;
    }
    &__new{
        width: 728px;
    }
    &__img{
        height: 392px;
        margin-bottom: 20px;
        img{
            height: 100%;
            object-fit: cover;
            margin: 0 auto;
        }
    }
    &__new-title{
        display: block;
        color: $text1;
        margin-bottom: 15px;
        cursor: pointer;
    }
    &__new-date{
        color: $text3;
    }

    &__content-news{
        width: 344px;
        margin-left: auto;
    }
    &__news-item{
        position: relative;
        padding:14px 0 19px;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            width: 100%;
            background: $border;
        }
    }
    &__news-title{
        display: block;
        font-size: 17px;
        color: $text1;
        padding-bottom: 2px;
        cursor: pointer;
    }
}

<<<<<<< HEAD
.top-page {
    margin: 34px 0px 36px 0px;
    &__content {
        display: flex;
        justify-content: space-between;
    }
    .subtitle {
        max-width: 728px;
    }
}

.skills {
    margin-bottom: 72px;
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
    }
    .card__skills {
        margin: 8px;
    }
}

.specialists {
    margin-bottom: 130px;
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 74px;
    }
}


.location {
    margin: 52px 0px 72px 0px;
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        max-width: 296px;
    }
    &__number {
        color: $text1;
        margin-bottom: 3px;
    }
    &__number-description {
        color: $text2;
        margin-bottom: 15px;
    }
    &__mail {
        color: $text1;
        margin-bottom: 44px;
        display: block;
    }
    .switch {
        margin-bottom: 20px;
        height: unset;
    }
    &__name {
        color: $text1;
        margin-bottom: 8px;
    }
    &__address {
        color: $text1;
        margin-bottom: 27px;
    }
    &__more {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: $accent;
        display: flex;
        align-items: center;
        span {
            font-size: 14px;
            margin: 2px 0px 0px 8px;
=======
.service-popular{
    margin-bottom: 59px;
    margin-top: 46px;
    display: flex;
    width: 100%;
    background: $accent;
    transition: all .5s;
    border-radius: 8px;
    &:hover{
        background: #2BD9BC;
    }
    &__item{
        width: inherit;
        text-align: center;
        padding: 28px 0 36px;
        &:not(:first-child){
            border-left: 1px solid $accentDark;
        }
    }
    &__title{
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: $white;
    }
    &__img{
        display: inline-block;
        width: 64px;
        height: 64px;
        img{
            width: 100%;
            height: 100%;
>>>>>>> bf5353c42d62e663826410e0e72df043c189166f
        }
    }
}

<<<<<<< HEAD
.road {
    margin-bottom: 112px;
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
    &__card {
        background: $background1;
        padding: 35px 56px 55px;
        border-radius: 8px;
        box-shadow: inset 0px 0px 10px rgba(49, 53, 54, 0.05);
    }
    &__title {
        color: $text1;
        margin-bottom: 23px;
    }
    &__text {
        color: $text1;
        max-width: 424px;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}

.gallery-header {
    background: $background1;
    padding-top: 57px;
    .breadcrumbs {
        margin-top: unset;
    }
    .page-header__title {
       padding-bottom: 46px;
    }
    .switch {
        margin-bottom: 24px;
    }
}

.gallery-main {
    padding: 64px 0px 128px 0px;
    background: $background2;
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
=======
.service-all{
    &__title{
        color: $text1;
        padding-bottom: 30px;
    }
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &__item{
        height: 56px;
        a{
            font-size: 20px;
            line-height: 24px;
            color: $text1;
        }
    }
    padding-bottom: 116px;
>>>>>>> bf5353c42d62e663826410e0e72df043c189166f
}