// MAX-WIDTH 1600PX breakpoints START
@media (max-width: 1600px) {
    .phone  {
        padding: 24px 20px 24px 20px;
    }
    .address {
        padding: 18px 20px;
    }

}
// MAX-WIDTH 1600PX breakpoints END

// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
    .address {
        display: none;
    }
    .footer {
        height: 213px;
        &__content {
            padding-bottom: 18px;
        }
    }
    .menu {
        padding: 20px 0px 0px 20px;
    }

}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
    .main {
        padding-left: 240px;
    }
    .logo {
        width: 240px;
        padding: unset;
        display: flex;
    }
    .sidebar {
        width: 240px;
        &__footer {
            padding: 51px 20px;
        }
    }
    .footer {
        height: unset;
        padding-left: 240px;
        &__content {
            display: block;
        }
        &__instagram {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            width: unset;
        }
        &__instagram-title {
            margin-bottom: unset;
            order: 1;
        }
        &__instagram-img {
            margin-right: 20px;
        }
    }
} 
// MAX-WIDTH 1199.98PX breakpoints END

// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {

}
// MAX-WIDTH 991.98PX breakpoints END

// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {

}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START 
@media (max-width: 575.98px) {

}
// MAX-WIDTH 576.98PX breakpoints END 