// MAX-WIDTH 1600PX breakpoints START
@media (max-width: 1600px) {
    .phone  {
        padding: 24px 20px 24px 20px;
    }
    .address {
        padding: 18px 20px;
    }
    .popular{
        padding: 44px 45px 79px ;
        &__header{
            margin: 0 -45px;
        }
        .slick-slide{
            margin: 0 15px;
        }
    }
    .card{
        &__service-text{
            width: unset;
        }
        &__trick{
            padding: 17px 15px;
        }
        
    }
    .desctop {
        height: unset;
        &__title {
            padding-top: 37px;
        }
    }
    .review {
        padding-bottom: 81px;
    }
    .specialists{
        padding: 0 45px 130px;
        margin-bottom: unset;
        &__header{
            margin: 0 -45px;
        }
    }
    .stories{
        padding: 0 45px;
        &__header{
            margin: 0 -45px;
        }
        .slick-arrow{
            background: $background3;
        }
    }
    .blog{
        &__new{
            width: 690px;
        }
    }
    .inst{
        &__cat{
            right: -200px;
        }
        &__heart{
            height: unset;
            width: 470px;
            right: 50px;
        }
    }
    .locate{
        &__map{
            height: unset;
            width: 700px;
        }
    }
    .review{
        &__body{
            width: unset;
        }
        &__description{
            justify-content: unset;
        }
        &__dots{
            width: 194px;
        }
        &__info{
            margin-left: 20px;  
        }
    }
    .card {
        &__price {
            width: 100%;
        }
    }
    .priceBlock {
        &__item {
            width: calc(50% - 20px);
        }
    }
    .our-specialists {
        &__content {
            grid-column-gap: 20px;
            grid-row-gap: 60px;
        }
    }
    .employeeSchedule {
        .schedule {
            &__header {
                .schedule {
                    &__slider {
                        margin-right: 50px;
                    }
                }
            }
        }
    }
    .employee-info {
        .card__price {
            width: calc(50% - 20px);
        }
        &__description {
            padding-left: 10px;
            max-width: 374px;
        }
    }
    .card__clinic {
        width: unset;
    }
    .reviewBlock {
        padding: 24px 0px 20px;
        &__title {
            max-width: 575px;
        }
        &__item {
            margin-right: unset;
            width: 100%;
            &:nth-child(4n + 2),
            &:nth-child(4n + 3) {
                width: 100%;
            }
        }
    }
    .servicePrice{
        .card__price{
            width: 536px;
        }
        &__info{
            width: 500px;
        }
    }
    .storiesBlock{
        &__item{
            width: calc(100%/3 - 80px/3);
            &:nth-child(7n + 4),
            &:nth-child(7n + 5),
            &:nth-child(7n + 6),
            &:nth-child(7n + 7){
                width: calc(100%/4 - 120px/4);
            }
        }
    }
    .missionBlock{
        .slick--third{
            margin: 0 45px;
        }
        &__slider-content{
            width: 266px;
        }
    }
    .slider{
        .slickslide{
            width: 100%;
        }
        .s-prev{
            left: -90px;
        }
        .s-next{
            right: -90px;
        }
    }
}

// MAX-WIDTH 1600PX breakpoints END

// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
    .h1 {
        font-size: 46px;
        line-height: 54px;
    }
    .h2 {
        font-size: 36px;
        line-height: 42px;
    }
    .address {
        display: none;
    }
    .footer {
        height: 213px;
        &__content {
            padding-bottom: 18px;
        }
    }
    .menu {
        padding: 20px 0px 0px 20px;
    }
    .desctop{
        &__item:not(:last-child){
            margin-bottom: 10px;
        }
    }
    .popular{
        padding: 44px 45px 75px;
        &__header{
            padding-bottom: 18px;
            flex-wrap: wrap;
        }
        &__title{
            padding-bottom: 15px;
            width: 100%;
        }
        .btn-contour{
            margin-left: unset;
        }
    }
    .review{
        padding-bottom: 81px;
        &__body{
            margin-left: 0;
            margin-right: auto;
        }
        &__content{
            justify-content: space-around;
        }
        &__description{
            flex-wrap: wrap;
            width: min-content;
        }
        &__slide{
            margin-right: 0;
        }
        &__info{
            padding-top: 45px;
            margin-left: 0;
        }
        &__info-text{
            padding-bottom: 70px;
        }
    }
    .specialists{
        padding-bottom: 72px;
        &__header{
            flex-wrap: wrap;
            padding-bottom: 20px;
        }
        &__title{
            padding-bottom: 20px;
            width: 100%;
        }
        .btn{
            margin-left: 0;
        }
        margin-bottom: 0;
    }
    .stories{
        &__header{
            flex-wrap: wrap;
            padding-bottom: 20px;
            padding-top: 65px;
        }
        &__title{
            padding-bottom: 20px;
            width: 100%;
        }
        .btn{
            margin-left: 0;
        }
    }
    .blog{
        &__header{
            flex-wrap: wrap;
            padding-top: 81px;
            padding-bottom: 50px;
        }
        &__title{
            padding-bottom: 20px;
            width: 100%;
        }
        .btn{
            margin-left: 0;
        }
        &__new{
            width: calc(100% - 370px);
        }
    }
    .locate{
        padding: 69px 0 64px;
        &__map{
            width: calc(100% - 370px);
        }
    }
    .our-specialists {
        &__content {
            grid-template-columns: 1fr 1fr;
        }
    }
    .card {
        &__specialist {
            display: inline-block;
            margin: 0 auto;
        }
    }
    .employee {
        padding: 57px 0px 32px;
        &-info {
            padding: 52px 0px 56px;
            .card__price {
                width: calc(50% - 5px);
                padding: 20px 16px;
            }
        }
    }
    .employeeSchedule {
        padding-top: 34px;
        .schedule__header {
            display: block;
            .icon {
                margin-right: 7px;
            }
        }
        .schedule__body-head {
            display: block;
        }
        .schedule__header {
            .schedule__slider {
                margin: 0px 35px;
            }
        }
        .schedule__body-title {
            width: unset;
            padding-right: 50px;
        }
        .schedule__slider {
            margin: 0px 35px;

        }
        .schedule__title { 
            margin-bottom: 18px;
        }
    }
    .reviewBlock {
        padding: 24px 0px 20px;
        &__title {
            max-width: 475px;
        }
        &__item {
            margin-right: unset;
            width: 100%;
            &:nth-child(4n + 2),
            &:nth-child(4n + 3) {
                width: 100%;
            }
        }
    }
    .road {
        &__content {
            grid-gap: 16px; 
        }
        &__card {
            padding: 20px 17px 37px;
        }
    }
    .location {
        &__map {
            img  {
                max-width: 97%;
                margin-right: 0;
                margin-left: auto;
            }
        }
    }
    .gallery-main {
        padding: 32px 0px 56px;
        &__content {
            grid-template-columns: 1fr;
            grid-gap: 25px;
        }
        .card__clinic{
            width: 560px;
        }
    }
    .serviceDescription{
        &__content{
            flex-wrap: wrap;
        }
        &__info{
            order: 2;
            width: 100%;
            min-width: unset;
            img{
                width: 100%;
            }
        }
        &__button{
            padding: 0;
        }
    }
    .servicePrice{
        .card__price{
            margin-right: 30px;
        }
        &__info{
            width: fit-content;
        }
    }
    .storiesBlock{
        &__item{
            margin-right: 20px;
            margin-bottom: 40px;
            width: calc(100%/3 - 40px/3);
            &:nth-child(7n + 4),
            &:nth-child(7n + 5),
            &:nth-child(7n + 6),
            &:nth-child(7n + 7){
                width: calc(100%/4 - 60px/4);
            }
        }
    }
    .slider{
        .slickslide{
            height: 500px;
            &-item{
                height: 100%;
                width: 100%;
                img{
                    height: unset;

                }
            }
        }
    }
    .popup__gallery{
        .popup-body{
            padding: 0 120px;
        }
    }
}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
    .main {
        padding-left: 240px;
    }
    .logo {
        width: 240px;
        padding: unset;
        display: flex;
    }
    .sidebar {
        width: 240px;
        &__footer {
            padding: 51px 20px;
        }
    }
    .footer {
        height: unset;
        padding-left: 240px;
        &__content {
            display: block;
        }
        &__instagram {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            width: unset;
        }
        &__instagram-title {
            margin-bottom: unset;
            order: 1;
        }
        &__instagram-img {
            margin-right: 20px;
        }
    }
    .slick-slide, .slick--second-slide {
        margin: 0 10px;
    }
    .top-page {
        margin: 16px 0px 32px;
        &__content {
            display: block;
        }
        .switch {
            margin-top: 19px;
        }
    }
    .desctop {
        &__img {
            height: 100%;
        }
        &__list {
            margin-bottom: unset;
        }
        &__content {
            padding-bottom: 30px;
        }
    }
    .review {
        &__content {
            position: relative;
            justify-content: none;
            display: block;
        }
        &__slide {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
        &__info-text {
            padding-bottom: 32px;
            width: 575px;
        }
        &__title {
            padding-bottom: 182px;
        }
        &__info {
            width: unset;
            margin-left: 0;
        }
        &__info-title {
            padding-bottom: 35px;
            width: 333px;
        }
    }
    .specialists {
        padding-bottom: 34px;
    }
    .blog {
        &__content {
            display: block;
        }
        &__new {
            width: unset;
        }
        &__content-news {
            width: unset;
            margin-left: unset;
        }
        &__new-title {
            margin-bottom: unset;
        }
        &__news-item {
            &:first-child {
                margin-top: 19px;
            }
        }
    }
    .inst {
        padding: 65px 0px 80px;
        &__cat {
            display: none;
        }
    }
    .locate {
        &__title {
            padding-bottom: 27px;
        }
        &__content {
            display: block;
        }
        &__map {
            width: unset;
        }
        &__info {
            width: unset;
            margin-top: 28px;
            text-align: center;
        }
        &__adress {
            padding-right: 60px;
            text-align: left;
        }
        &__adress-body {
            display: flex;
            justify-content: space-around;
        }
    }
    .priceBlock{
        &__item{
            width: calc(50% - 10px);
            margin-bottom: 20px;
            .card__price{
                padding: 35px 30px;
            }
        }
    }
    .employee{
        &__body{
            display: block;
            .btn-createSubscribe{
                margin-top: 20px;
            }
        }
        &__info{
            max-width: unset;
            .h2{
                padding-top: 15px;
                margin-bottom: 4px;
            }
            .subtitle{
                margin-bottom: 11px;
            }
        }
        &__review{
            margin-bottom: 24px;
        }
        &__link{
            justify-content: left;
        }
        &__img{
            display: flex;
            flex-wrap: wrap;
            .skills__content{
                order: 3;
                width: 100%;
                margin-bottom: 0;
            }
            img{
                order: 1;
                margin-bottom: 20px;
            }
        }
        &__more{
            order: 2;
            width: 100%;
            text-align: left;
        }
    }
    .location {
        margin: 27px 0px 32px;
        &__content {
            display: block;
        }
        &__info {
            margin-bottom: 37px;
        }
        &__map {
            img {
                max-width: 100%;
                width: 100%;
                margin-left: unset;
                margin-right: unset;
            }
        }
    }
    .road {
        margin-bottom: 60px;
        &__text {
            max-width: unset;
        }
        &__content {
            grid-template-columns: 1fr;
        }
    }
    // !!!   BREADCRUMBS 
    .breadcrumbs {
        margin-top: 41px;
    }
    .searchContent {
        padding: 27px 0px 63px;
        &__count {
            padding: 13px 0px 27px;
        }
        &__item {
            padding-bottom: 23px;
        }
    }
    .service-popular{    
        flex-wrap: wrap;
        margin: -12px;
        &__item{
            margin: 12px;
            border-radius: 8px;
            width: 30%;
            &:last-child{
                border-radius: 8px;
            }
            &:first-child{
                border-radius: 8px;
            }
            &:not(:first-child){
                border: none;
            }
        }
    }
    .service-all{
        padding-top: 44px;
        &__list{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .content--service{
        .page-header__title{
            padding-bottom: 19px;
        }
    }
    .servicePrice{
        .card__price{
            margin-right: 20px;    
        }
    }
    .storiesBlock{
        &__item{
            margin-bottom: 53px;
            &:nth-child(5n + 1),
            &:nth-child(5n + 2){
                width: calc(100%/2 - 40px/2);
            }
            &:nth-child(5n + 3),
            &:nth-child(5n + 4),
            &:nth-child(5n + 5){
                width: calc(100%/3 - 80px/3);
            }
            &:nth-child(5n + 1),
            &:nth-child(5n + 3),
            &:nth-child(5n + 4){
                margin-right: 40px;
            }
            &:nth-child(5n + 2),
            &:nth-child(5n + 5){
                margin-right: 0;
            }
        }
    }
    .popup__review{
        &-body{
            width: calc(100% - 40px);
            margin: 0 auto;
            margin-top: 10%;
        }
    }
} 
// MAX-WIDTH 1199.98PX breakpoints END

// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {
    
}
// MAX-WIDTH 991.98PX breakpoints END

// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {

}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START 
@media (max-width: 575.98px) {

}
// MAX-WIDTH 576.98PX breakpoints END 