$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-angle-left: "\e900";
$icon-angle-right: "\e901";
$icon-arrow-right: "\e902";
$icon-search: "\e903";
$icon-angle-down: "\e904";
$icon-vector: "\e905";
$icon-minus: "\e906";
$icon-reviews: "\e907";
$icon-close: "\e908";
$icon-calendar: "\e909";
$icon-burger: "\e90a";

