$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-angle-left: "\e900";
$icon-angle-right: "\e901";
$icon-arrow-right: "\e902";
$icon-search: "\e903";
$icon-angle-down: "\e904";

